/*
!.*
.Bome/
.CFUserTextEncoding
.DS_Store
.EasyPmd2/
.FontForge/
.NERDTreeBookmarks
.Protege/
.Trash/
.Xauthority
.adobe/
.aerofs.*
.aliases
.autobench.conf
.basex
.basexgui
.basexevents
.basexperm
.bash_history
.berkshelf/
.bzr.log
.cabal/
.cache/
.cassandra.history
.chef/
.config/
.cpan/
.csync/
.cups/
.darcs/
.dropbox/
.dvdcss/
.eclipse_keyring
.eclim/
.editix/
.exist_history
.exist_query_history
.fasd
.fontconfig/
.fonts/
.gem/
.ghc/
.gitk
.gradle/
.gstreamer-0.10/
.heroku/
.hgignore_global
.ievms/
.irb-history
.irssi/
.java/
.lesshst
.links/
.local/
.lolcommits/
.m2/
.mono/
.mutt/
.mutt_certificates
.muttrc.local
.nbprofiler/
.neocomplcache/
.neocon/
.netbeans/
.netrc
.npm/
.oh-my-zsh/
.parallel/
.pentadactyl/
.pip/
.pry_history
.psql_history
.repoconfig/
.rvm/
.sh_history
.sipp2.properties.xml
.slocdata/
.smb/
.spf13-vim-3/
.sqlite_history
.ssh/
.subversion/
.subversion/auth/
.sysdb20/
.swt/
.terminfo/
.vagrant.d/
.vegas/
.vim/.netrwhist
.vim/backup/
.vim/bundle/
.vim/doc/
.vim/eclim/
.vim/plugin/
.vim/view/
.vim*.tmp
.vimbackup/
.viminfo
.vimswap/
.vimundo/
.vimviews/
.wine/
.xbmc/
.yjp/
.zcompdump*
.zhistory
.zprezto/
.zsh-update
.zsh_history

