/*
!.*
.Bome/
.CFUserTextEncoding
.DS_Store
.EasyPmd2/
.FontForge/
.NERDTreeBookmarks
.Protege/
.Trash/
.Xauthority
.adobe/
.aerofs.*
.aliases
.atom/
.autobench.conf
.aws/
.basex
.basexevents
.basexgui
.basexperm
.bash_history
.berkshelf/
.bundle/
.bzr.log
.cabal/
.cache/
.cassandra.history
.chef/
.config/
.cpan/
.csync/
.cups/
.darcs/
.deft/
.docker/
.dockercfg
.dropbox/
.dvdcss/
.eclim/
.eclipse/
.eclipse_keyring
.editix/
.emacs.d/
.exist_history
.exist_query_history
.faceless/
.fasd
.fontconfig/
.fonts/
.gem/
.ghc-mod/
.ghc/
.gitk
.gnupg/
.gradle/
.gstreamer-0.10/
.heroku/
.hgignore_global
.htoprc
.httpie/
.ievms/
.impasse/
.ipython/
.irb-history
.irssi/
.iterm2/
.iterm2_shell_integration.zsh
.ivy2/
.java/
.lesshst
.links/
.local/
.lolcommits/
.m2/
.matplotlib/
.mono/
.mutt/
.mutt_certificates
.muttrc.local
.mysql_history
.nbprofiler/
.neocomplcache/
.neocon/
.netbeans/
.netrc
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nviminfo
.nvimlog
.nvimrc
.oh-my-zsh/
.p2/
.packer.d/
.parallel/
.pentadactyl/
.pip/
.pry_history
.psql_history
.pypirc
.python_history
.rbenv/
.rediscli_history
.repoconfig/
.rnd
.ropeproject/
.rvm/
.s3cfg
.sensu/
.sh_history
.sipp2.properties.xml
.slocdata/
.smb/
.spf13-vim-3/
.sqlite_history
.ssh/
.stack/
.subversion/
.subversion/auth/
.swt/
.sysdb20/
.terminfo/
.terraform.d/
.tor/
.unite/
.vagrant.d/
.vault_pass.txt
.vegas/
.vim*.tmp
.vim/.netrwhist
.vim/backup/
.vim/bundle/
.vim/doc/
.vim/eclim/
.vim/haskellmode.config
.vim/plugin/
.vim/view/
.vimbackup/
.viminfo
.vimswap/
.vimundo/
.vimviews/
.weechat/logs/
.weechat/perl/
.weechat/python/
.weechat/ruby/
.weechat/scripts/
.weechat/ssl/
.weechat/weechat.log
.wine/
.xbmc/
.yieldify
.yjp/
.zcompcache/
.zcompdump*
.zhistory
.zprezto/
.zsh-update
.zsh_history
.zsh_sessions/
